/*
#303F9F
#C5CAE9
#3F51B5
#FFFFFF
#607D8B
#212121
#757575
#BDBDBD
*/

body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none; /*Sirve para poder editar los links (lo sidbrallado de abajo)*/
    color: #387fa3; 
}

img{
    max-width: 100%;
}

a:hover{
    opacity: 0.8;
}

a:focus{
    background: rgb(119, 194, 211);
}

.title{
    text-transform: uppercase; /*Sirber para cambiar las letras en mayusculas y munusculas*/
    text-align: center;
}

.container{
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.content{
    max-width: 960px;
    max-height: 500px;
    width: 100%;
    height: 80vh;
    background-color: white;
    /*Box-shadow: diferenciaHorizontal diferenciavertical desenfoque amplitud color;*/
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    position: relative;
    overflow: scroll;
    padding: 0.8em;
}

th{
    display: block;
    width: 100%;
}
td:nth-of-type(1){
    font-size: 1.2em;
    font-weight: bold;
    color: #2aaff1;
}
td{
    display: none;
}


.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background-color: #5B86E5;
    display:inline-block;
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parrafo{
    line-height: 1.3em;
    font-weight: 300;
    text-align: justify;
    
}

.table{
    width: 100%;
    border-spacing: 0; /*Sirve para no dejar bordes intermedios de la tabla*/
}

.table td, .table th{
    padding: 1em;
    text-align: left;
}

.table tr:nth-child(even){
    background-color: #d7edff;
}

.title-item{
    border-bottom:solid 2px #36D1DC;
    padding-bottom: 1em;
    font-size: 1em;
}

.fa-star{
    color: #fff200;
}

.main-img{
    float: left;
    margin-right: 1em;
    height: 250px;
}

.position{
    background-color: #2aaff1;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
}

.address{
    font-weight: bold;
    color: #387fa3;
    font-size: 1.2em;
    margin-top: 1em;
    display: inline-block;
}


/*Sirve para adaptar los dispositivos pequeños*/
@media(min-width:900px){
    th{
        width: auto;
        display: table-cell;
    }
    td{
        width: auto;
        display: table-cell;
    }
    td:nth-of-type(1){
        font-size: 1em;
    }
    .content{
        padding: 1.5em;
    }
}

@media(min-height:550px){
    .content{
        height: 500px;
    }
}